@use 'src/styles/utility' as *;


.dropdownWrapper {
  position: absolute;
  top: 0;
  left: -1px;
  width: calc(100% + 2px);
  height: 308px;
  z-index: 1000;
  background-color: var(--ifm-color-white);
  border: 1px solid var(--ifm-color-gray-300);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdownInputWrapper {
  padding: 8px;
}

.dropdownSearch {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--ifm-color-gray-300);
}

.dropdownList {
  --overlay-height: 260px;
  height: var(--overlay-height);
  overflow: auto;
  .dropdownSelect {
    padding: 0;
    margin: rem(0.5);
    color: var(--ifm-color-gray-300);
    font-size: rem(1.6);
  }
  .dropdownStart {
    padding: 0;
    margin: rem(0.5);
    font-weight: bold;
    color: var(--ifm-color-black);
    font-size: rem(1.6);
  }
  .dropdownSelected {
    background: var(--ifm-color-gray-400);
    pointer-events: none;
  }
  .dropdownItem {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
    color: var(--ifm-color-black);
    padding: rem(1);
    font-size: rem(1.6);
    transition: all 0.2s;
    &:hover {
      background: var(--ifm-color-primary);
      color: var(--ifm-color-white);
    }
  }
}
