.app_dashboard_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 72px;
  width: 100%;

  &_top {
    max-width: 608px;
    margin: auto;
    text-align: center;
    padding-inline: 16px;
    h2 {
      margin-bottom: 8px;
    }
  }

  &_main {
    width: 100%;
  }
}
