@use 'src/styles/utility' as *;
@use 'src/styles/mixins' as *;

.schemaContainer {
  position: relative;
}

.playgroundContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: rem(4);

  .pageWrapper {
    display: flex;
    color: var(--ifm-color-emphasis-1000);

    .playground {
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      height: fit-content;
      margin-top: rem(4);
      width: 100%;

      .playgroundPageWrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: rem(2);

        @include tablet {
          flex-direction: column;
          align-items: center;
        }

        .playgroundSelectionWrapper {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: stretch;
          gap: 10px;
          z-index: 2;

          @include mobile-sm {
            flex-direction: column;
          }

          @media (min-width: 993px) and (max-width: 1280px) {
            flex-direction: column;
          }
        }
      }
    }
  }
}

.playgroundApiJson {
  display: flex;
  flex-direction: column;
  min-width: 50%;

  @include tablet {
    width: 100%;
  }
}

.playgroundApiDocs {
  display: flex;
  flex-direction: column;
  gap: rem(2);
  margin-bottom: rem(1);
  min-width: 50%;

  @include tablet {
    width: 100%;
  }
}