.copyText {
  display: flex;
  text-align: left;
  align-items: center;
  cursor: pointer;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.copyTextIcon {
  margin-left: 8px;
  margin-top: 4px;
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  z-index: 1000;
  white-space: nowrap;
  font-size: 12px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.tooltip.visible {
  opacity: 1;
  visibility: visible;
}
