.language_switcher {
  .dropdown {
    position: relative;
    cursor: pointer;
  }
  .dropdown > .navbar__link:after {
    display: none;
  }

  a.navbar__link {
    color: var(--core-color-solid-slate-1400, #000) !important;
  }

  .dropdown__menu {
    position: fixed;
    display: flex;
    top: 104px;
    padding-left: 5.5%;
    width: 100vw;
    min-width: 997px;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: var(--ifm-navbar-background-color);
    box-shadow: var(--ifm-navbar-shadow);
    align-items: flex-start;
    cursor: pointer;
  }

  .navbar__items--right .dropdown__link {
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    font-size: 18px;
    @media (max-width: 1201px) {
      font-size: rem(1.4);
    }
  }

  .navbar__items--right a {
    @media (max-width: 1201px) {
      font-size: rem(1.4);
    }
  }

  .dropdown {
    height: 72px;
    position: relative !important;
    top: 25px;
    background-image: url('/img/language-switcher.svg');
    background-repeat: no-repeat;
    padding: 2px 22px;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;
    @media (max-width: 996px) {
      display: none;
    }
  }

  .navbar__link {
    font-weight: normal;
  }

  .dropdown__link {
    font-size: 16px;
    font-weight: normal;
    margin-top: 15px;
    color: var(--core-color-opacity-black-600, rgba(0, 0, 0, 0.72)) !important;
    background-color: var(--ifm-navbar-background-color);
  }

  .dropdown__link--active {
    color: var(--core-color-opacity-black-600, rgba(0, 0, 0, 0.72)) !important;
    background-color: var(--ifm-navbar-background-color);
  }
}
