@use '../../../styles/utility' as *;
@use '../../../styles/mixins' as *;

.playgroundBox {
  border-radius: 6px;
  border: none;
  margin-top: rem(2);
  position: relative;
  display: flex;
  flex-direction: column;

  .inlineLabel {
    position: absolute;
    top: rem(-0.3);
    left: rem(1);
    font-size: rem(0.8);
    padding: rem(0.2) rem(0.4);
    background-color: var(--ifm-color-white);
  }

  .formContent {
    display: flex;
    flex-direction: column;

    .appRegistrationSubheader {
      align-self: flex-start;
      margin-bottom: rem(1.6);
      font-size: rem(2.4);
      text-align: left;
      line-height: var(--text-lh-m);
      color: var(--ifm-font-color-base);
    }

    .btnWrapper {
      display: flex;
      justify-content: center;
      gap: rem(0.5);
      padding: rem(2);

      button {
        min-width: 96px;
        height: 48px;
      }

      button:nth-child(1) {
        border: var(--component-button-border-width-sm) solid
          var(--component-button-bg-coral-primary-default);
      }
    }
  }

  .registrationRequest {
    min-height: rem(11.9);
    padding: rem(1);
    border: solid 1px var(--ifm-color-secondary-darker);
    font-size: rem(1.6);
  }

  .playgroundConsole {
    margin-top: rem(0.2);
    max-height: 60vh;
    overflow-y: auto;
    width: 100%;
  }
}

div[role='dialog'] {
  padding-top: rem(0.8);
}
