@use 'src/styles/utility' as *;

.dashboardButton,
.logoutButton {
  text-decoration: none !important;
  font-weight: 400;
  font-size: rem(1.5);
  padding: rem(0.7);

  &:hover {
    background-color: var(--hover-solid-light-100) !important;
  }
}

.logoutButton {
  gap: 0 !important;
}

.SignedInButton {
  color: var(--colors-coral500);
  font-weight: bold;
  display: flex !important;
  font-size: rem(1.4);
  padding: rem(0.3) rem(2);
  border: 1px solid;
}

.UserNavbarItem {
  cursor: pointer;
}
