@use 'src/styles/utility' as *;

.customCheckboxContainer {
  display: flex;
  align-items: center;
  @media screen and (min-width: 992px) {
    align-items: center;
  }
  label {
    cursor: pointer;
    margin-left: rem(1.5);
  }
  .checkboxContainer {
    position: relative;
    width: rem(1.5);
    height: rem(1.5);
  }
  .customCheckbox {
    position: absolute;
    background-repeat: no-repeat;
    display: inline-block;
    border: 2px solid var(--ifm-color-emphasis-500);
    min-width: rem(1.6);
    height: rem(1.6);
    border-radius: 2px;
    transition: background-color 0.25s, border-color 0.25s;
    z-index: 1;
  }
  input {
    // The original checkbox has to be hidden, but still be clickable
    // Hence, opacity 0 is used instead of visibility or display
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    width: rem(1.5);
    height: rem(1.5);
    position: absolute;
    &:checked + .customCheckbox {
      background-image: url(/img/check.svg);
      background-position: center;
      background-color: var(--colors-greyDark800);
      border-color: var(--colors-greyDark800);
    }
  }
}
