@use 'src/styles/utility' as *;
@use 'src/styles/mixins' as *;

.heroContainer {
  display: flex;
  align-items: center;
  height: 95svh;
  min-height: rem(50);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.843),
      rgb(0 0 0 / 20%),
      rgba(0, 0, 0, 0)
    ),
    url(/img/banner-homepage.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .description {
    width: 50%;
    margin-bottom: rem(4);
  }

  .heroBtnContainer {
    display: flex;
    gap: rem(1);
  }

  .heroTitle,
  .description {
    color: var(--solid-slate-50);
  }

  @include mobile-sm {
    background-repeat: no-repeat;
    background-position-x: 73%;
    background-image: linear-gradient(to top, rgba(0, 0, 0), rgb(0 0 0 / 22%), rgba(0, 0, 0, 0)),
      url(/img/banner-homepage.jpeg);
    align-items: flex-end;

    .heroBtnContainer {
      flex-direction: column;
      margin-bottom: 3rem;
    }

    .heroTitle,
    .description {
      width: 100%;
      text-align: center;
    }
  }
}
