@use 'src/styles/utility' as *;

.manageApps {
  display: flex;
  justify-content: center;
}
.manage_tokens {
  display: inline-flex;
  flex-direction: column;
  gap: rem(3);
  overflow: visible;
  width: rem(91.2);
}
