@use 'src/styles/utility' as *;

.manageApps {
  @media screen and (min-width: 1024px) {
    padding: 16px;
  }
}
.manage_tokens {
  display: inline-flex;
  flex-direction: column;
  gap: rem(3);
  overflow: visible;
  width: rem(91.2);
}
