.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.green__check {
  padding: 16px;
}

.modal__icon {
  @extend .align-center;
  padding: 24px;
}

.modal__text {
  padding: 24px 32px;
  gap: 32px;
}

.modal__header {
  @extend .align-center;
  padding-bottom: 32px;
  font-size: 18px;
}

.modal__content {
  padding: 24px 32px;
  text-align: center;

  h4 {
    margin-bottom: 32px;
    color: var(--core-color-solid-slate-1400);
    font-size: 18px;
    @extend .align-center;
  }

  p {
    color: var(--core-color-opacity-black-600);
    font-size: 14px;
  }

  ul {
    padding-top: 16px;
    li {
      list-style: disc;
    }
  }
}

.quill-modal__button-wrapper {
  padding: 24px 32px;
}

.quill-button__full-width {
  width: 92%;
}
