.dashboard-spinner {
  height: 90vh;
}

.breadcrumbs-wrapper {
  padding: 1rem 0;
  color: var(--ifm-font-color-base);
  a,
  a:active,
  a:visited {
    text-decoration: none;
    p {
      color: var(--ifm-font-color-base) !important;
    }
  }
}
