.manage_dashboard {
  &__spinner {
    height: 90vh;
  }
}

.breadcrumbs_wrapper {
  width: 100%;
  margin-top: 2rem;
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1440px) {
    max-width: auto;
  }
}
