@use 'src/styles/utility' as *;

.FooterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--core-color-solid-slate-50, #fff);
  margin-bottom: rem(4.8);

  .FooterBody {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(4.8);
  }

  .FooterSection {
    display: flex;
    flex-direction: row;
    gap: rem(9.6);
  }

  .FooterLogo {
    background-size: contain;
    display: inline-block;
    position: relative;
    align-self: flex-start;
    padding-bottom: rem(4.8);
    gap: 24px;
  }

  .Section1 {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 100px;
    margin-bottom: rem(4.8);
  }

  .List {
    list-style: none;
    padding: 0;
  }

  ul li {
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  h6 {
    margin-bottom: 16px;
  }

  a {
    color: var(--core-color-opacity-black-600, rgba(0, 0, 0, 0.72));
    text-decoration: underline;
    white-space: nowrap;
  }

  .Link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    text-decoration: none;
    margin-bottom: rem(1.6);
  }

  .SectionContent {
    color: #000;
    font-size: rem(1.4);
    margin-bottom: rem(1.6);
  }

  .Communities {
    display: flex;
    flex-direction: column;
    gap: rem(1.6);
  }

  .CommunityButton {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    display: flex;
    gap: 10px;
  }

  .Box {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: rem(2.4);
    width: 330px !important;
  }

  .EmailButton {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    display: flex;
  }

  .MobileAccordion {
    display: none;
  }

  @media (max-width: 1244px) {
    .FooterSection {
      gap: rem(3.6);
    }
  }

  @media (max-width: 1090px) {
    .FooterSection {
      gap: rem(1.8);
    }
  }

  @media (max-width: 996px) {
    .FooterContainer {
      display: flex;
      align-items: center;
    }

    .CommunityButton {
      display: grid;
      width: 100%;
    }

    .FooterSection {
      padding: rem(2);
      grid-template-columns: 2fr;
      gap: rem(2.4);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    h3 {
      margin-bottom: 0px !important;
    }

    .FooterBody {
      display: flex;
      width: 100%;
    }

    p {
      text-align: left;
      margin-bottom: 0px !important;
    }

    .Box {
      display: flex;
      flex-direction: column;
      gap: 16px;
      flex: 1 0 0;
      padding-left: rem(1);
      padding-right: rem(1);
    }

    .FooterLogo {
      display: flex;
      gap: 24px;
      padding-bottom: 0px;
    }

    @media (max-width: 600px) {
      .MobileAccordion {
        display: block;
        width: 100%;
        margin-bottom: 16px;
      }

      .Box {
        align-items: center;
      }

      p {
        text-align: center;
      }

      h3 {
        text-align: center;
      }

      .EmailButton {
        display: flex;
        width: 100%;
      }
      .FooterSection {
        justify-content: center;
        gap: 24px;
        padding: rem(2);
      }
    }

    .LogoWrapper {
      align-self: center;
    }

    .Section1:nth-child(1),
    .Section1:nth-child(2) {
      display: none;
    }

    .MobileAccordion {
      display: block;
      width: 100%;
      margin: 0;
    }
  }
}
