@use 'src/styles/utility' as *;

.FooterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--core-color-solid-slate-50, #fff);

  .FooterBody {
    display: flex;
    flex-direction: column;
  }

  .FooterSection {
    display: flex;
    flex-direction: row;
    gap: rem(9.6);
  }

  .FooterLogo {
    background-size: contain;
    display: inline-block;
    position: relative;
    align-self: flex-start;
    padding-bottom: rem(4.8);
    gap: rem(1.5);
  }

  .Section1 {
    display: flex;
    flex-direction: column;
    height: 100px;
    margin-bottom: rem(4.8);
  }

  .SectionTitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: rem(1.6) !important;
    color: var(--core-color-solid-slate-1400, #000);
    text-align: left;
  }

  h6 {
    margin-bottom: rem(1.6);
  }

  .List {
    list-style: none;
    padding: 0;
  }

  ul li {
    margin-bottom: rem(1.6) !important;
    display: flex;
    align-items: flex-start;
    gap: rem(0.5);
  }

  h3 {
    align-items: left;
  }

  a {
    color: var(--core-color-opacity-black-600, rgba(0, 0, 0, 0.72));
    text-decoration: underline;
    white-space: nowrap;
  }

  .Link {
    display: flex;
    align-items: center;
    gap: rem(0.5);
    text-decoration: none;
  }

  .labelcolor {
    color: var(--component-textIcon-normal-prominent);
  }

  .SectionContent {
    color: #000;
    font-size: rem(1.4);
    margin-bottom: rem(1.6);
  }

  .Communities {
    display: flex;
    flex-direction: column;
    gap: rem(1.6);
  }

  .CommunityButton {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    display: flex;
    gap: rem(0.8);
    white-space: nowrap;
    justify-content: center;
  }

  .PaddedButton {
    display: flex;
    width: 100%;
    padding: rem(0.5) rem(0.625);
    gap: rem(0.5);
  }

  .FullWidthButton {
    gap: 8px;
    width: 100%;
  }

  .Box {
    border: 1px solid #ddd;
    padding: rem(1.6);
    border-radius: rem(2.4);
    display: flex;
    flex-direction: column;
    gap: rem(0.8);
  }

  .EmailButton {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    display: flex;
    width: 100%;
  }

  .MobileAccordion {
    display: none;
  }

  @media (max-width: 1244px) {
    .FooterSection {
      gap: rem(3.6);
    }
  }

  @media (max-width: 1090px) {
    .FooterSection {
      gap: rem(1.8);
      max-width: 1030px;
    }
  }

  @media (max-width: 996px) {
    .CommunityButton {
      display: flex;
      flex-direction: column !important;
      gap: rem(0.625);
      padding-right: rem(2);
    }
    .PaddedButton {
      width: 100%;
      padding: rem(0.625) rem(0);
    }
    .FullWidthButton {
      width: 100%;
    }
    .EmailButton {
      align-self: center;
    }
    .FooterContainer {
      display: flex;
      align-items: center;
    }

    .CommunityButton {
      display: flex;
      flex-direction: row;
      gap: rem(0.8);
      flex-wrap: nowrap;
      width: 100%;
    }

    .EmailButton {
      width: 100%;
    }
    .FooterSection {
      grid-template-columns: 2fr;
      gap: rem(1.5);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    h3 {
      margin-bottom: 0px !important;
    }

    .FooterBody {
      display: flex;
      width: 100%;
      padding-block: 32px;
    }

    p {
      text-align: left;
      margin-bottom: 0px !important;
    }

    .Box {
      display: flex;
      flex-direction: column;
      gap: rem(1);
      flex: 1 0 0;
      padding: rem(2) rem(2);
    }

    .FooterLogo {
      display: flex;
      gap: rem(1.5);
      padding-bottom: 0px;
    }

    @media (max-width: 600px) {
      .FooterBody {
        padding-block: 32px;
      }
      .PaddedButton {
        display: flex;
        width: 100%;
        padding: 10px 0px !important;
      }

      .MobileAccordion {
        display: block;
        width: 100%;
        margin-bottom: rem(1);
      }

      .Box {
        align-items: center;
      }

      p {
        text-align: center;
      }

      h3 {
        text-align: center;
      }

      .EmailButton {
        display: flex;
        width: 100%;
      }
      .FooterSection {
        justify-content: center;
        gap: rem(1.5);
        width: 100%;
      }
    }

    .LogoWrapper {
      align-self: center;
      padding: rem(1);
    }

    .Section1:nth-child(1),
    .Section1:nth-child(2) {
      display: none;
    }

    .MobileAccordion {
      display: block;
      width: 100%;
      margin: 0;
    }
  }
}

.accordion_header_trigger {
  padding: rem(1.5) 0;
}
