@use 'src/styles/utility' as *;
@use 'src/styles/mixins' as *;

.dropdown {
  flex: 1;
  user-select: none;
  border: var(--component-field-border-width) solid var(--component-field-border-color-default);
  border-radius: var(--semantic-borderRadius-md);
  &:hover {
    border-color: var(--component-field-border-color-hover);
  }
  &.active {
    border-color: var(--component-field-border-color-active);
  }

  .arrow {
    background-size: rem(2.2);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(/img/arrow_up.svg);
    transform: rotate(-180deg);
    transition: transform 0.2s;
    width: rem(2.2);
    height: rem(2.2);
    &.down {
      transform: rotate(0deg);
    }
  }

  .dropdownBtn {
    padding: 4px 15px;
    color: var(--component-field-label-color-default);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: rem(1.6);
    height: 54px;
    &:hover {
      cursor: pointer;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 18rem;

      @include mobile {
        width: 100%;
      }
    }
  }

  .dropdownContent {
    position: relative;
    background: var(--ifm-color-white);
    color: var(--ifm-color-black);
  }
}
