@use 'src/styles/utility' as *;
.dropdown {
  user-select: none;
  border: 1px solid var(--ifm-color-gray-400);
  position: relative;

  .arrow {
    background-size: rem(2.2);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url(/img/arrow_up.svg);
    transform: rotate(-180deg);
    transition: transform 0.2s;
    width: rem(2.2);
    height: rem(2.2);
    &.down {
      transform: rotate(0deg);
    }
  }

  .dropdownBtn {
    padding: 4px 8px;
    background: var(--ifm-color-white);
    color: var(--ifm-color-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: rem(1.6);
    &:hover {
      cursor: pointer;
    }
  }

  .dropdownContent {
    position: relative;
    background: var(--ifm-color-white);
    color: var(--ifm-color-black);
  }
}
