.modal__text {
  padding: 24px 32px 24px 32px;
  gap: 32px;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  font-size: 18px;
}
.icon {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  align-items: center;
  background: var(--core-color-solid-green-100, #e6fae9);
}

.modal__content {
  width: 100%;
  text-align: left;
  align-items: center;

  h4 {
    margin-bottom: 16px;
    color: #333;
    font-size: 18px;
  }

  p {
    color: #666;
    font-size: 14px;
  }

  ul {
    padding-top: 16px;
    li {
      list-style: disc;
    }
  }
}

.quill-button__full-width {
  width: 92%;
}
