@use '../../styles/mixins' as *;
@use '../../styles/utility' as *;

.pageContent {
  padding-top: rem(6);
  margin: 0 auto;

  .content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: rem(1);
    padding: rem(1);
    position: relative;

    @include mobile {
      margin: rem(1) 0;
      padding: rem(1) 0;
    }

    .title {
      text-align: center;
      color: var(--ifm-font-color-base);
      margin-top: rem(0.8);
      margin-bottom: rem(6.08);
      font-weight: 500;
      font-size: rem(2.24);
      line-height: rem(4.8);
      width: 100%;
    }
    .customTextInput {
      border-radius: 4px;
      align-items: center;
      display: flex;
      flex-direction: column;
      line-height: rem(1.6);
      width: 100%;
      box-sizing: border-box;
      padding: rem(1);
      gap: rem(2.1);
      @include mobile {
        padding: rem(1) 0;
      }

      .inputField {
        position: relative;
        width: 50%;
        padding-top: rem(0.5);
        @include mobile {
          width: 100%;
        }

        .errorMessage {
          position: relative;
          color: var(--ifm-color-danger);
          font-size: var(--fontSizes-2xs);
          font-weight: 400;
          padding: rem(0.5) rem(1);
        }
      }
    }
    .currentUrl {
      display: flex;
      flex-direction: row;
      font-size: var(--text-size-sm);
      padding: rem(2);
      align-items: center;

      @include mobile {
        align-items: flex-start;
        flex-direction: column;
        padding: rem(2) 0;
      }

      code {
        padding: 4px 8px;
      }
    }
    .buttons {
      display: flex;
      margin: rem(1) 0;
      button {
        margin-right: rem(1);
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
