@media (max-width: 996px) {
  .navbar-sidebar__item {
    .navbar__item {
      display: block;
      padding: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
      font-size: 0.875rem;
      font-weight: var(--ifm-font-weight-normal);
      line-height: 1.25rem;
    }

    .navbar__link {
      &--active {
        background-color: var(--ifm-menu-color-background-active);
      }
    }
  }
}
