// Hide mobile-only menu items on desktop
@media (min-width: 997px) {
  .mobile-only-menu-item {
    display: none !important;
  }
}

@media (max-width: 996px) {
  .mobile-account-section {
    padding: 16px;
    h3 {
      color: var(--ifm-font-color-base);
    }

    .account-title {
      font-size: 18px;
      margin-bottom: 4px;
    }

    .account-email {
      color: var(--core-color-opacity-400, rgba(0, 0, 0, 0.48));
    }

    .get-real-account-btn {
      margin-top: 16px;
      height: 48px;
      border-radius: 24px;
      font-weight: 800;
    }
  }

  // Style for the deriv logo in the mobile menu
  .deriv-logo {
    display: flex;
    align-items: center;
  }

  // Style for the right arrow icon in the mobile menu
  .mobile-menu-link-with-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-divider {
    height: 1px;
    background-color: var(--opacity-black-100, rgba(0, 0, 0, 0.08));
  }

  .mobile-menu-items {
    list-style: none;
    padding: 0;
    margin: 0;

    .mobile-menu-item {
      display: flex;

      .mobile-menu-link {
        display: flex;
        align-items: center;
        padding: 16px;
        width: 100%;
        text-decoration: none;
        color: var(--core-color-solid-slate-1400, #000);
        font-size: 16px;
        gap: 8px;

        .deriv-logo {
          display: flex;
          align-items: center;
        }
      }
    }

    .logout-item {
      margin-top: 16px;
    }
  }

  // Style for the mobile menu items with icons
  .mobile-menu-link {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 8px;
    width: 100%;

    &.log-out-link {
      padding: 16px 16px 16px 10px !important;
      background-color: red;
    }

    .deriv-logo {
      display: flex;
      align-items: center;
    }

    text-align: center;
    // Override default NavbarItem styles
    a {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  .language-selector {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .logout-link {
    font-family: var(--ibm-font-family-base);
    font-size: 16px;
    color: var(--core-color-solid-slate-1400, #000);
    text-decoration: none;
    width: 100%;
  }

  .logout-item {
    margin-top: 16px;
  }

  .navbar-sidebar__item {
    .navbar__item {
      display: flex;
      padding: 16px 16px;
      font-size: 16px;
      align-items: center;
      background-color: var(--ifm-navbar-background-color);
      gap: 8px;
      align-self: stretch;
      font-weight: var(--ifm-font-weight-normal);
      line-height: 1.25rem;
      width: 100%;
      cursor: pointer;
    }

    &__bottomActionBtn {
      width: 100%;
      position: fixed;
      display: flex;
      justify-content: center;
      left: 0;
      bottom: 1.7rem;

      button {
        padding: 0.4rem 1.2rem;
        font-weight: bold;
      }

      .logoutButton {
        text-decoration: none;
        font-weight: 500;
        gap: 0;
      }
    }

    .navbar__item.navbar__link {
      color: var(--ifm-font-color-base);
    }

    .language_sidebar {
      padding: 1rem;
      position: fixed;
      top: 0;
      left: 0;
      background-color: var(--ifm-navbar-background-color);
      width: var(--ifm-navbar-sidebar-width);
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);
      transition-property: opacity, visibility, transform;
      transition-duration: var(--ifm-transition-fast);
      transition-timing-function: ease-in-out;

      &.visible {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }

      &__items {
        margin-top: 16px;
        display: flex;
        padding: 0px 16px;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
        cursor: pointer;
      }

      a {
        overflow: hidden;
        font-family: var(--ibm-font-family-base);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: var(--core-color-opacity-black-600, rgba(0, 0, 0, 0.72)) !important;
        text-decoration: none;
        background-color: var(--ifm-navbar-background-color);

        &:hover,
        &:active,
        &.dropdown__link--active {
          color: var(--core-color-opacity-black-600, rgba(0, 0, 0, 0.72)) !important;
        }
      }
    }
  }
}
