name: Deriv Api Docs Staging Workflow
on:
  push:
    branches:
      - master
jobs:
  build_and_publish:
    name: Builds and Publishes to Cloudflare Pages Staging
    runs-on: ubuntu-latest # TODO: Replace this with the appropriate runner for Deriv-Api-Docs when provided
    environment: Staging
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11
      - name: Setup Node
        uses: ./.github/actions/setup_node
      - name: Install Dependencies
        uses: ./.github/actions/npm_install_from_cache
      - name: Invalidate Cache
        uses: ./.github/actions/invalidate_master_cache
      - name: Build
        uses: ./.github/actions/build
        with:
          NODE_ENV: staging
          RUDDERSTACK_KEY: ${{ vars.RUDDERSTACK_KEY }}
          GROWTHBOOK_DECRYPTION_KEY: ${{ secrets.GROWTHBOOK_DECRYPTION_KEY }}
          GROWTHBOOK_CLIENT_KEY: ${{ vars.GROWTHBOOK_CLIENT_KEY }}
      - name: Versioning
        uses: ./.github/actions/versioning
        with:
          RELEASE_TAG: ${{ github.sha }}
          RELEASE_TYPE: staging
      - name: Publish to Cloudflare Pages Staging
        uses: ./.github/actions/publish_to_pages
        with:
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CF_BRANCH: staging
          PROJECT_NAME: deriv-developers-portal-pages
      - name: Upload to vercel DR
        uses: 'deriv-com/shared-actions/.github/actions/vercel_DR_publish@master'
        with:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_API_TOKEN }}
          ENVIRONMENT: Preview
          VERCEL_SCOPE: deriv
          ALIAS_DOMAIN_URL: 'staging-api-docs-dr.binary.sx'
