@use '../../../../../styles/utility' as *;

.wrapper {
  width: rem(51.2);
  height: rem(36);
  padding: 0px 32px 32px 32px !important;
}

.title {
  color: var(--core-color-solid-slate-1400, #000);
  text-align: center;
  font-family: 'IBM Plex Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  top: 0px;
  padding: 0px 0px !important;
}

.modal {
  position: relative;
  z-index: 310;
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: var(--core-color-opacity-black-600, rgba(0, 0, 0, 0.72));
  font-family: 'IBM Plex Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 32px;
  line-height: 24px;
  margin-bottom: 16px;
  text-align: left;
}

.textField {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 448px;
  text-align: left;
  gap: 4px;
  border-radius: 8px;
  padding: 4px 16px;
  border: 1px solid var(--core-color-opacity-black-100, rgba(0, 0, 0, 0.08));
  background: var(--core-color-solid-slate-50, #fff);
}

.key {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.button_wrapper {
  width: 100%;
  display: flex;
  padding-top: 48px;
  justify-content: center;
}

.btn {
  display: flex;
  width: 124px !important;
  height: 24px;
  padding: 0px 16px;
  gap: 8px;
  border-radius: 16px !important;
  background: var(--core-color-solid-coral-700, #ff444f);
}
